

html{

}

nav{
    background-color: rgb(0,60,161);
    margin: 0px !important;
}

nav a{
    color: rgb(255,255,255);
}

.nav li a:hover,.nav li a:focus,.nav li.dropdown a:focus{
    background-color: rgb(255,255,255);
    color: rgb(0,60,161);
}

h3.logo,h3.menu-responsive{
    color: rgb(255,255,255);
    /*margin: 5% 0% 5% 0%;*/
    height: 100%;
    vertical-align: center;
}

h3.logo{
    margin: 0px;
}

#menu-responsive-list{
    z-index: 5; /*corregir*/
    text-align: center;
}



section{
    margin-bottom: 15px;
}

#linea-principal{

    background-image: url("img/edificios.jpeg");
    min-height: 400px;
    background-size: cover;

}

h1{
    text-align: center;
}

#slogan{
    width: 100%;
    position: absolute;
    left: 0px;
    top: 250px;
    color: rgb(120,120,120);    
}

.caracteristica{
    min-height: 300px;
}

.caracteristica p{
    margin-top: 10px;
}

.icono{
    width: 100%;
}

footer{
    color: rgb(255,255,255);
    background-color: rgb(0,60,161);
}

