@font-face{
    src: url("../fonts/OpenSans-Regular.ttf");
    font-family: openSans;
}

*{
    font-family: openSans ;
}

/*ajuste de la interfaz*/

header,.nav>li>a{

    color: #fff;
    text-shadow: none !important;
    -moz-text-shadow: none !important;
    -webkit-text-shadow: none !important;
}

.logo{
    height: 50px;
}

.nav>li>a{

    transition:color 0.3s, background-color 0.3s linear 0s;
    -moz-transition:color 0.3s, background-color 0.3s linear 0s;
    -webkit-transition:color 0.3s, background-color 0.3s linear 0s;

}

.nav>li>a:hover,.nav>li>a:focus{

    background-color: #fff;  
    color:#2b90d9;
}
header,nav{
    border: 0px !important;
    background-color: #2b90d9;
}


.btn{

    background-color: #2b90d9;
    color: #fff;
    border: none;
}



.btn:active, .btn:hover{

    color: #2b90d9;
    background-color: #fff;
    border: solid 1px #2b90d9;

}

section{

    min-height: 555px;
}

#wallpaper{
    background-image: url("recursos/main_wallpaper.jpg");
    background-size: cover;
    
}

[title="excursion"]{

    width: 100%;
    margin: 15px 0px;
}




#about{
    margin-top: 20px;
    color: rgb(255,255,255);
    background-color: rgba(40,44,55,0.6);
}

footer{
    height: 40px;
    background-color: #282c37;
    text-align: center;
    margin-top: 20px;
    
}

footer a{

    color: rgb(200,200,200) !important;
}

footer p{
    margin: 10px 0px 0px 0px;
}

/*ajustes para todas las resoluciones*/

.novedad{

    height: 300px !important;
    margin: 5px 0px 5px 0px;
    overflow: hidden;
}

.producto{

    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    background-color: #d9e1e8;
    background-clip: content-box;
    }

.producto>.row{

    height: 100%;
}

.ilustracion{

    /*margin-top: 10px;*/
    padding-top: 10px;
    height: 200px;
    overflow: hidden;
}

.informacion{

    height: 80px;
    /*border-top: solid 1px rgba(0,0,0,0.3);*/
}

.nombre{

    font-weight: bold;
}

.label:not(.label-danger){

    background-color: #2b90d9;
}

.ilustracion img{

    width: 100%;
}

.modal-body img{

    width: 50%;
    margin: 0% 25%;
    margin-bottom: 15px;
}

.boton-menu{
        display: none;
    }

.label-info{
        display: block;
        font-size: 1rem;
    }


@media screen and (max-width: 767px){
    
    html{
        font-size: 12pt;
    }

    .boton-menu{
        display: block;
        height: 100% !important;
        cursor: pointer;
    }
    
    p.descripcion-articulo{
        font-size: 16pt;
    }

    .label-info{
        width: 100%;
    }
    
    nav{

        display: none;
    }
    
}


@media screen and (min-width: 768px){

html{
    font-size: 14pt;
    }

    p{

        font-size: 1rem;
    }
    /*
    .producto{
        height: 150px;
        overflow: hidden;
    }
    */
    
}

/*ajustes de tipografia*/
h1{
    font-size: 2rem;
}

h2{
    font-size: 1.75rem;
}

h3{
    font-size: 1.5rem;
}

h4{
    font-size: 1.25rem;
}

h5{
    font-size: 1rem;
}

h6{
    font-size: 0.75rem;
}